asgiref==3.6.0
distlib==0.3.6
dj-database-url==2.0.0
Django==4.1.6
django-environ==0.10.0
filelock==3.12.0
gunicorn==20.1.0
platformdirs==3.5.0
psycopg2-binary==2.9.6
sqlparse==0.4.3
typing_extensions==4.6.3
tzdata==2022.7
virtualenv==20.23.0
